.agentz-kb-typography {
  margin-bottom: 32px;
}

.agentz-custom-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.agentz-custom-topselectbar {
  width: 300px;
  margin-bottom: 16px;
}

.agentz-selectbar-industry {

  width: 180px;
}

.agentz-selectbar-tag {
  margin: 0 20px;
  width: 150px;
}


.agentz-expand-comp {
  margin: 20px 0 20px 0;
overflow: hidden;
border-radius: 8px;
background-color: #fff;
border: 0;
-moz-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
display: flex;
flex-direction: column;
box-sizing: border-box;
position: relative;
}

.agentz-expand-header {
  align-items: center;
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
justify-content: space-between;
box-flex: 1;
flex-grow: 1;
min-height: 64px;
padding-left: 17px;
background: #f1f3f4;
color: #202124;
}

.agentz-expand-subheader {
  color: #202124;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.agentz-expand-subdesc {
  color: #5f6368;
font-size: 12px;
margin-top: 3px;
}

.agentz-expand-footer {
  align-items: center;
border: .5px #dadce0 solid;
    border-right-color: rgb(218, 220, 224);
    border-right-style: solid;
    border-right-width: 0.5px;
    border-left-color: rgb(218, 220, 224);
    border-left-style: solid;
    border-left-width: 0.5px;
border-left: none;
border-right: none;
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
box-flex: 1;
flex-grow: 1;
font-size: 16px;
min-height: 60px;
padding: 0 17px 0 7px;
justify-content: space-between;
margin-right: 8px;
}

.agentz-expand-footerleft {
  display: inline;font-size: 16px;
}

.agentz-expand-footerbutton {
  background-color: transparent;
color: #1a73e8;
color: var(--gm-colortextbutton-ink-color,#1a73e8);
font-family: "Google Sans",Roboto,Arial,sans-serif;
font-size: .875rem;
font-weight: 500;
letter-spacing: .0107142857em;
text-transform: none;
height: 36px;
margin-top: 6px;
margin-bottom: 6px;
padding: 0 8px 0 8px;
position: relative;
display: -webkit-inline-box;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
min-width: 64px;
border: none;
outline: none;
line-height: inherit;
-moz-user-select: none;
overflow: visible;
vertical-align: middle;
-moz-border-radius: 4px;
border-radius: 4px;
--mdc-ripple-fg-size: 0;
--mdc-ripple-left: 0;
--mdc-ripple-top: 0;
--mdc-ripple-fg-scale: 1;
--mdc-ripple-fg-translate-end: 0;
--mdc-ripple-fg-translate-start: 0;
will-change: transform,opacity;
}

.agentz-custom-topsearchbar {

}

.agentz-middleexpand-comp {
  border-top: .5px #dadce0 solid;
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-direction: row;
min-height: 60px;
padding-left: 17px;
cursor: pointer
}

.agentz-switch-button {
  margin-top: 10px;
    margin-right: 16px;
}

.agentz-expand-overview {
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-direction: column;
box-flex: 1;
flex-grow: 1;
justify-content: center;
padding: 10px 0 10px 0;
width: 80%;
}

.agentz-rightside-arrow {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  opacity: .7;
  margin-right: 16px;
}
